body {
    font-family: arial;
    font-size: 20px;
    font-weight: lighter; 
    color: rgb(56, 56, 56); 
    background-color:white;
    text-align: center;
  
}


h1 {
    text-align: center;
}

h5 {
    font-weight: lighter; 
}

#enterWord{
    font-size: 15px;
    border: small;
    text-align: center;
    width: 210px;
    height: 30px;
}

#randomWord{
    width: 210px;
    height: 35px;
    top: -3px;
    position: relative;
    background-color: rgb(185, 66, 66); 
    
}

#randomWord:hover{
    color: rgb(203, 223, 184); 
}
#startGame:hover{
    color: rgb(203, 223, 184);

}

#mainGame{

    top: 70px; 
    width: 610px;
    height: 230px;
    border: small; 
    background-color: rgba(165, 42, 42, 0.39); 
    position: relative; 
    margin-left: auto; 
    margin-right: auto; 
}


#startGame{

    width: 210px;
    height: 35px;
    position: relative;
    background-color: rgb(185, 66, 66); 
    
}

#timeWatch{
    width: 115px;
    height: 25px;
}

#timeGame{

    width: 115px;
    height: 25px;
}

#mainWord{
    width: 210px;
    height: 35px;
    position: relative;
    margin-left: auto; 
    margin-right: auto; 
    top: 15px; 
    background-color: rgba(185, 66, 66, 0.418); 
}