html, body {
    height: 100%;
    margin: 0 8px; 
}

body{
    text-align: center; 
    display: grid;
    grid-template-rows: min-content min-content auto;
}

#mail{
    border: thin solid black;
    background-color: rgb(231, 222, 214); 
    position: relative;
    top: 0px; 
    left: 0px;
    height: 390px; 
}



span{
    font-size: 6em;
    position: absolute;
    border: thin dotted black;
}



@media only screen and (max-width: 600px) {
    
    #letters {
        border: thin solid black;
        background-color: rgb(221, 229, 243); 
        position: relative;
        top: 30px; 
        height: 190px;
       
        
        
    
    }

  }