
body {
    font-family: arial;
    font-size: small;
    color: rgb(56, 56, 56); 
    background-color: rgba(235, 227, 227, 0.349);
    text-align: center;
}


h1 {
    text-align: center;
}

h5 {
    font-weight: lighter; 
}

img{
    position: relative;
    margin-left: auto; 
    margin-right: auto; 
}